html{
	scroll-behavior:smooth
	}

.title {
		margin: 0;
		position: absolute;
		width: 58.13px;
		height: 17px;
		left: 132.05px;
		top: 56.04px;
		font-family: 'Inika';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #000000;
	}

.page {
	height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 0px;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
}

header {
	width: 100%;
	height: 134px;
	padding: 42px 0;
	background: #EDF2EC;
}

.container {
	max-width: 1440px;
	padding: 0 0;
    margin: 0 auto;
}

.container1 {
	max-width: 1440px;
	padding: 0 0;
    margin: 0 auto;
}





	



.kola {
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: 1s;
	max-width: 1220px;
}

.header1 {
	font-family: "Inika", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.menu {
	display: block;
}

.links {
	display: flex;
    flex-direction: row;
    gap: 47.3px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    }

.main {
	display: block;
}

 	
.welcome {
	padding: 0 0 55px 0;
    background-color: #EDF2EC; 
}

.welcom1 {
	display: flex;
    justify-content: space-between;
}

.welcom2 {
	padding: 52px 0 0 0;
}




.right2 {
	font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin: 0 0 45px 0;
}
.right-block {
	max-width: 550px;
    display: flex;
    flex-direction: column;
    padding: 97px 0 0 0px;
}

.welcom_text {
	text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin: 0 0 47px 0;
	font-family: "Inter", sans-serif;
}



.wdtn {
	color:#499A18;
}

.jhfytdsq {
	color:#E06733;
}
.button_1 {
	display: inline-block;
    text-align: center;
    padding: 11px 0;
    font-weight: 400;
    max-width: 157px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-size: 16px;
    transition: 1s;
	color: #000000;
	background-color: inherit;
	text-decoration: none;
	
}

.button_1:hover {
	color: #ffffff;
    background-color: #E06733;
  }


.about {
	padding: 0 0 90px 0;
    background-color: #FFFFFF;
	}




.bout2 {
	font:right;
	max-width: 464px;
	padding: 0 0 0 0;	
}


.bout3 {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	padding: 97px 0 0 0px;
	
}

.bout6 {
	max-width: 605px;
}

.bout4 {
	font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin: 0 0 45px 0;
	color:#499A18;

}

.bout5 {
	text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin: 0 0 47px 0;
	font-family: "Inter", sans-serif;
}


.service {
	background: #EDF2EC;
}

.servicehead {
	display: flex;
}

.service_7 {
	display: flex;
	padding-top: 40px;
	
}

.service_bottons {
	padding: 31px 0 0 135px;

}

.service_img {
	display: flex;
	padding: 90px 0 121px 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service_space1 {
	display: flex;
	padding-bottom: 55px;

}

.service_space1 div:not(:last-child){

	padding-right: 117px;
}

.service_space2 {
	display: flex;
	padding: 0 0 0 0 ;
}

.service_space2 div:not(:last-child) {

	padding-right: 117px;

}


.service1 {
	margin: 0;
	width: 306px;
	height: 94px;
	left: 109px;
	top: 40px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
}

.service2 {
	font-family: "Inika", serif;
    min-width: 161px;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    padding: 11px 40px;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin: 0 19.4px;
    transition: 1s;
	color:#E06733
	}
	
.service2:hover {
	color: #ffffff;
    background-color: #E06733;
  }


#service5 {
	
	width: 329px;
	height: 350px;
	left: 110px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
}

.service6 {
	
	width: 329px;
	height: 350px;
	left: 556px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
	
}

#service7 {
	
	width: 329px;
	height: 350px;
	left: 1002px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
}

#service8 {
	
	width: 329px;
	height: 350px;
	left: 110px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service9 {
	
	width: 329px;
	height: 350px;
	left: 556px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service10 {
	
	width: 329px;
	height: 350px;
	left: 1002px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service11 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

#service12 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
	
}

#service13 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service14 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service15 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

#service16 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service17 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service18 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service19 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service20 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service21 {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}	

#service22 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

.service_kartinka1 {
	border: 1px solid #E3E1D5;
    border-radius: 21px;
	text-align: center;
}

.prices {
	background: #FFFFFF;
}


.prices_head {
	display: flex;
	justify-content: space-between;
}
	
}

.prices_block1 {
	display: flex;
    flex-direction: column;
}

.prices__prices {
	font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 40px 0 50px 0;
}

.prices__lists2 {

	display: flex;
    flex-direction: column;
    align-items: flex-end;
}




.prices__lists {
display: flex;
flex-direction: column;
border: 1px solid #E3E1D5;
border-radius: 20px;
padding: 30px 38px;
margin: 10px 0 0 0;
max-height: 282px;

}


.prices1 {
	width: 135px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices2 {
	font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    max-width: 452px;
    text-align: end;
}

.prices4 {
	box-sizing: border-box;
	border: 1px solid #E06733;
	border-radius: 5px;
	width: 162px;
	height: 50px;
	left: 1169px;
	top: 181.01px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #E06733;
	background-color: inherit;
}

.prices4:hover {
	color: #ffffff;
    background-color: #E06733;
  }


.prices5 {
	box-sizing: border-box;
	width: 332px;
	height: 282.01px;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	padding: 34px 41px;
}

.prices-button {
	background: #EDF2EC;
	padding: 16px 40px;
	border: none;
	text-align: left;
	border-radius: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	border: 1px solid #E3E1D5;
}

.prices-button:not(:last-child) {
	margin-bottom: 32px;
}
.prices6 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 183.01px;
}

.prices7 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 265.01px;
	border-radius: 20px;
	left: 190px;
	top: 281.01px;
	
}

.prices8 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 265.01px;
	border-radius: 20px;
	left: 190px;
	top: 281.01px;
}

.prices9 {
	
	width: 97.12px;
	height: 75.82px;
	left: 1179px;
	top: 282.51px;
	right:155.59px;
	filter: blur(2.5px);
	
}

.prices10 {
	
	width: 68.46px;
	height: 57.17px;
	left: 1228.5px;
	top: 415.71px;
	filter: blur(3.5px);
	
}

.prices11 {
	
	width: 32.97px;
	height: 25.31px;
	left: 1316.52px;
	top: 359px;
	filter: blur(4.5px);
	
}

#prices12 {
	
	width: 33.28px;
	height: 25.08px;
	left: 1227.77px;
	top: 372.77px;
	filter: blur(4.5px);
	
}

.contacts {
	background: #EDF2EC;	
}

.contacts_1 {
	margin: 0 0 0 0;
    padding: 30px 0 0 0;

}

.contacts_fail {
	display: flex;
	justify-content: space-between;

}


.contacts1 {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;	
	text-align: center;
}

.contacts2 {
	width: 400px;
	height: 496.99px;
	margin: 53px 0 0 0;
	display: flex;
    justify-content: space-between;
}


.contacts3 {
	height: 50px;
	margin: 148px 109px 0px;
    flex: 0 1 450px;
    background: #D6E7D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	padding: 5px 20px;
	vertical-align: middle;
	color: #717171;
	text-align: left;
	border: none;
	font-size: 20px;
	line-height: 40px;
}

.footer {
	padding: 39px 0;
}

.container_footer {
	max-width: 1440px;
	padding: 0 0;
    margin: 0 auto;
}

.container_footer2 {
	display: flex;
	justify-content: space-between;
}

.footer__data a {
	text-decoration: none;
	border: none;
	word-spacing: 14px;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    transition: 1s;

}

.footer__rss a {
	text-decoration: none;
	border: none;
	margin: 0 0 0 35px;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    transition: 1s;
}

.footer__links {
	padding: 10px 0 0 0;
    display: flex;
	
}

.footer__link {
	margin: 0 0 0 20px;
	
}


@media screen and (max-width: 768px) {
	.container {
	  width: 100%;
	 
	}

	.welcome {
		
		padding: 0 50px 0 50px;
	}

	.welcom1 {

		flex-direction: row-reverse;
	}
	.welcom2 img {

		max-width: 280px;
		
	}

	.right2 {

	font-size: 35px;
		
	}

  }