html{
	scroll-behavior:smooth
	}

body {
	margin: 0;
}

header {
	width: 1440px;
	height: 134px;
	left: 0px;
	top: 0px;
	background: #EDF2EC;
}

#header1 {
	position: absolute;
	width: 19px;
	height: 20px;
	left: 112px;
	top: 52px;	
}

#header2 {
	margin: 0;
	position: absolute;
	width: 58.13px;
	height: 17px;
	left: 132.05px;
	top: 56.04px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

#header3 {
	position: absolute;
	height: 50px;
	left: 879px;
	top: 42px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 50px;
	color: #E06733;
}

#header4 {
	position: absolute;
	height: 50px;
	left: 969px;
	top: 42px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
}

#header5 {
	position: absolute;
	height: 50px;
	left: 1082px;
	top: 42px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
}

#header6 {
	position: absolute;
	height: 50px;
	left: 1183px;
	top: 42px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
}

#header7 {
	position: absolute;
	height: 50px;
	left: 1267px;
	top: 42px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
}

li {
	
	text-align: right;
	display:inline;
	}
 	
#welcome {
	position: absolute;
	width: 1440px;
	height: 532px;
	left: 0px;
	top: 134px;
	background: #EDF2EC;
}
#left3 {
	position: absolute;
	
	left: 128.22px;
	top: 62px;
	filter: blur(4.5px);
	
}

#left4 {
	position: absolute;
	width: 81.23px;
	height: 60.89px;
	left: 366.93px;
	top: 172.99px;
	filter: blur(4.5px);

	}
	
	#left5 {
	position: absolute;
	width: 80.33px;
	height: 61.57px;
	left: 109px;
	top: 262.66px;
	filter: blur(4.5px);
	
	}

#left6 {
	position: absolute;
	width: 163.49px;
	height: 141.86px;
	left: 211.17px;
	top: 260px;
	bottom:62.64px;
	filter: blur(3.5px);
	
	}

#left7 {
	position: absolute;
	width: 120.93px;
	height: 77.01px;
	left: 419.12px;
	top: 315px;
	filter: blur(2px);
}

#right2 {
	width:549px;
	height:101px;
	margin-top:98px;
	margin-bottom:42px;
	margin-right:109;
	font-family:Inter;
	font-style:normal;
	font-weight:700;
	font-size:45px;
	line-height:50px;
	color:#717171;
}
#right-block {
	margin-left:782px;
}
#wdtn {
	color:#499A18;
}
#jhfytdsq {
	color:#E06733;
}
#button-1 {
	box-sizing: border-box;
	position: absolute;
	width: 158px;
	height: 44px;
	left: 782px;
	top: 394px;
	border: 2px	solid;
	border-color:#E06733;
	border-radius: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: #000000;
	background-color: inherit;
}
#dd {
	position: absolute;
	width: 525.44px;
	height: 105px;
	left: 782px;
	top: 241px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #636060;
}

#about {
	position: absolute;
	width: 1440px;
	height: 666px;
	left: 0px;
	top: 666px;
	background: #FFFFFF;
}

#about2 {
	width: 463px;
height: 102px;
left: 109px;
top: 161px;
}

#about3 {
	position: absolute;
	width:463px;
	height:102px;
	top:161px;
	left:109px;
	margin: 0;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
}

#about4 {
	position: absolute;
	width:605px;
	margin: 0;
	height:208px;
	top:303px;
	left:109px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
}

#about1 {
position: absolute;
width: 464px;
height: 479px;
left: 867px;
top: 93px;
}

#service {
	position: absolute;
	width: 1440px;
	height: 1300px;
	eft: 0px;
	top: 1332px;
	background: #EDF2EC;
}

#service1 {
	position: absolute;
	width: 306px;
	height: 94px;
	left: 109px;
	top: 40px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
}

#service2 {
	box-sizing: border-box;
	position: absolute;
	width: 161px;
	height: 50px;
	left: 557px;
	top: 69px;
	border: 1px solid #E06733;
	border-radius: 5px;
	color:#E06733;
	}
	
#service3 {
	box-sizing: border-box;
	position: absolute;
	width: 161px;
	height: 50px;
	left: 756px;
	top: 69px;
	border: 1px solid #E06733;
	border-radius: 5px;
	color:#E06733;
}

#service4 {
	box-sizing: border-box;
	position: absolute;
	width: 161px;
	height: 50px;
	left: 955px;
	top: 69px;
	border: 1px solid #E06733;
	border-radius: 5px;
	color:#E06733;
}

#service5 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 110px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
}

#service6 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 556px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
}

#service7 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 1002px;
	top: 224px;
	border-radius: 20px 20px 0px 0px;
}

#service8 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 110px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service9 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 556px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service10 {
	position: absolute;
	width: 329px;
	height: 350px;
	left: 1002px;
	top: 729px;
	border-radius: 20px 20px 0px 0px;
}

#service11 {
	position: absolute;
	width: 120px;
	height: 24px;
	left: 214px;
	top: 584px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

#service12 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 139.91px;
	top: 618px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service13 {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 676px;
	top: 584px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service14 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 585.91px;
	top: 618px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service15 {
	position: absolute;
	width: 104px;
	height: 24px;
	left: 1114px;
	top: 584px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

#service16 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 1031.91px;
	top: 618px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service17 {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 229px;
	top: 1089px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service18 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 139.91px;
	top: 1123px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service19 {
	position: absolute;
	width: 120px;
	height: 24px;
	left: 660px;
	top: 1089px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}

#service20 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 585.91px;
	top: 1123px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

#service21 {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 1121px;
	top: 1089px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #E06733;
}	

#service22 {
	position: absolute;
	width: 267.19px;
	height: 20px;
	left: 1031.91px;
	top: 1123px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}


#prices {
	position: absolute;
	width: 1440px;
	height: 560px;
	left: 0px;
	top: 2630px;
	background: #FFFFFF;
}

#prices1 {
	position: absolute;
	width: 135px;
	height: 49px;
	left: 109px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}

#prices2 {
	position: absolute;
	width: 452px;
	height: 103px;
	left: 879px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	color: #000000;
}

#prices4 {
	box-sizing: border-box;
	position: absolute;
	border: 1px solid #E06733;
	border-radius: 5px;
	width: 162px;
	height: 50px;
	left: 1169px;
	top: 181.01px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #E06733;
	background-color: inherit;
}

#prices5 {
	box-sizing: border-box;
	position: absolute;
	width: 332px;
	height: 282.01px;
	left: 109px;
	top: 149px;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	padding: 34px 41px;
}

.prices-button {
	background: #EDF2EC;
	padding: 16px 40px;
	border: none;
	text-align: left;
	border-radius: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
}

.prices-button:not(:last-child) {
	margin-bottom: 32px;
}
#prices6 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 183.01px;
}

#prices7 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 265.01px;
	border-radius: 20px;
	left: 190px;
	top: 281.01px;
	
}

#prices8 {
	width: 250px;
	height: 50px;
	left: 150px;
	top: 265.01px;
	border-radius: 20px;
	left: 190px;
	top: 281.01px;
}

#prices9 {
	position: absolute;
	width: 97.12px;
	height: 75.82px;
	left: 1179px;
	top: 282.51px;
	right:155.59px;
	filter: blur(2.5px);
	
}

#prices10 {
	position: absolute;
	width: 68.46px;
	height: 57.17px;
	left: 1228.5px;
	top: 415.71px;
	filter: blur(3.5px);
	
}

#prices11 {
	position: absolute;
	width: 32.97px;
	height: 25.31px;
	left: 1316.52px;
	top: 359px;
	filter: blur(4.5px);
	
}

#prices12 {
	position: absolute;
	width: 33.28px;
	height: 25.08px;
	left: 1227.77px;
	top: 372.77px;
	filter: blur(4.5px);
	
}

#contacts {
	position: absolute;
	width: 1440px;
	height: 550px;
	left: 0px;
	top: 3190px;
	background: #EDF2EC;	
}

#contacts1 {
	position: absolute;
	width: 195px;
	height: 51px;
	left: 622px;
	top: 60px;
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;	
}

#contacts2 {
	position: absolute;
	width: 400px;
	height: 496.99px;
	left: 109px;
	top: 53px;
}

#contacts3 {
	position: absolute;
	height: 50px;
	left: 61.18%;
	right: 7.57%;
	top: 148px;
	background: #D6E7D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	padding: 5px 20px;
	vertical-align: middle;
	color: #717171;
	text-align: left;
	border: none;
	font-size: 20px;
line-height: 40px;
}

#footer {
	position: absolute;
	width: 1440px;
	height: 130px;
	left: 0px;
	top: 3740px;
	background: #FFFFFF;	
}

#footer1 {
	position: absolute;
	left: 1145.66px;
	top: 51.67px;
	bottom: 51.67px;
	
}

#footer2 {
	position: absolute;
	left: 1203px;
	top: 51.67px;
	bottom: 51.67px;
	
}

#footer3 {
	position: absolute;
	left: 1249.67px;
	top: 51.67px;
	bottom: 51.67px;
	width: 26.66px;
	height: 26.66px;
	
}

#footer4 {
	position: absolute;
	left: 1301.71px;
	top: 51.67px;
	bottom: 51.67px;
	
}

#footer5 {
	position: absolute;
	height: 50px;
	left: 109px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	color: #000000;	
}

#footer6 {
	position: absolute;
	height: 50px;
	left: 148px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	color: #000000;
}

#footer7 {
	position: absolute;
	height: 50px;
	left: 217px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	color: #000000;
}

#footer8 {
	position: absolute;
	height: 50px;
	left: 615px;
	top: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 50px;
	color: #000000;	
}